#create-category {
    width: 85%;
    margin: 0 58px 0 58px;
    text-align: start;
}

#create-category form {
    border-radius: 5px;
    background-color: #d3d3d33b;
    padding: 25px 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#create-category form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
#create-category form  input[type=submit] {
    width: 100%;
    background-color: #4c5daf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }